<section id="upcoming-speaking" class="widget">
  <h2 class="widget-header">See Me Speak</h2>
  <ol>
      <li class="vevent">
        <span class="summary"><a href="http://www.nordicruby.org/">Nordic Ruby</a></span>
        <span class="location">Stockholm</span>
        <span class="the-date">June 6-9, 2013</span>
      </li>
      <li class="vevent">
        <span class="summary"><a href="http://railsisrael.events.co.il">Rails Israel</a></span>
        <span class="location">Tel Aviv</span>
        <span class="the-date">October 9, 2013</span>
      </li>
  </ol>

  <!--<a class="more-events" href="#">More Events »</a>-->
  <p class="i-speak">Want me to speak at your event? <a href="mailto:chad@chadfowler.com">Email me.</a></p>
</section>
