<section id="upcoming-speaking" class="widget">
  <h2 class="widget-header">See Me Speak</h2>
  <ol>
      <li class="vevent">
        <span class="summary"><a href="http://joyofcoding.org">Joy of Coding</a></span>
        <span class="location">Rotterdam</span>
        <span class="the-date">March 1, 2013</span>
      </li>
        <li class="vevent">
        <span class="summary"><a href="http://railsberry.com">Railsberry</a></span>
        <span class="location">Krakow</span>
        <span class="the-date">April 22-23, 2013</span>
      </li>
      <li class="vevent">
        <span class="summary"><a href="#">La Conf</a></span>
        <span class="location">Berlin :(</span>
        <span class="the-date">March 28, 2012</span>
      </li>
  </ol>

  <a class="more-events" href="#">More Events »</a>
  <p class="i-speak">Want me to speak at your event? <a href="mailto:chad@chadfowler.com">Email me.</a></p>
</section>
