// *****************************************************************************
// ARCHIVES
// *****************************************************************************

#blog-archives {
  > h2 {
    background-position: 0 0;
    background-image: url("#{$image-path}/icons/calendar.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    clear: both;
    line-height: 24px;
    padding-left: 30px;
  }
  div.sharing {
    display: none;
  }
  article {
    margin-bottom: 10px;
    &:before {
      color: $gray;
      content: "➤";
      display: inline-block;
      padding-left: 15px;
    }
    h1 {
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    time {
      color: $gray;
      font-size: 10px;
    }
    footer {
      margin-left: 30px;
      span {
        font-size: 11px;
      }
      a.category {
        background-position: 0 center;
        background-image: url("#{$image-path}/icons/tag.svg");
        background-repeat: no-repeat;
        background-size: 12px 12px;
        display: inline-block;
        margin-left: 5px;
        padding-left: 16px;
      }
    }
  }
  & ~ .sharing {
    display: none;
  }
}