// *****************************************************************************
// PAGINATION
// *****************************************************************************

  div.pagination {
    margin: 20px 20px 0 40px;
    text-align: center;
    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }